.App {
  text-align: center;
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
  font-size: larger;
  overflow-x: hidden; /* 禁用横向滚动条 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.dashboard-bottom-container{
  display: flex;
  width: 100%;
  padding:0;
  justify-content: center;
}

.dashboard_left{
  font-size: larger;
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
  padding: right 250px ;
}

.dashboard_right{
  font-size: large;
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
  margin-left: 100px;
  gap: 15px; /* 項目之間的間距 */
 
  margin-top: 20px;
}

.token-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 三列布局 */
  gap: 20px; /* 卡片间距 */
}

.token-item {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.token-item:hover {
  background-color: #f0f0f0; /* 鼠标悬停效果 */
}

.token-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}
 

